<form class="form" [formGroup]="playerForm" (submit)="launchGame()">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="player1">Joueur 1</label>
        <input
          formControlName="player1"
          type="text"
          id="player1"
          [placeholder]="'ex: ' + exPlayer1[randForEx]"
          class="form-control"
        />
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="player2">Joueur 2</label>
        <input
          formControlName="player2"
          type="text"
          id="player2"
          [placeholder]="'ex: ' + exPlayer2[randForEx]"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="squareSize">Taille du carré</label>
    <select id="squareSize" class="custom-select" formControlName="squareSize">
      <option value="3">3x3</option>
      <option value="5">5x5</option>
    </select>
  </div>
  <div class="text-center">
    <button type="submit" [disabled]="this.playerForm.invalid" class="btn btn-dark" style="margin-bottom: 60px">
      Lancer une partie
    </button>
  </div>
</form>

<div class="text-center" *ngIf="scores != null; else elseBlock">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Joueur 1</th>
        <th scope="col">Score</th>
        <th scope="col">Joueur 2</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let score of scores; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ score.split("/")[0] }}</td>
        <td>{{ score.split("/")[1] | number }}</td>
        <td>{{ score.split("/")[2] }}</td>
        <td>{{ score.split("/")[3] | number }}</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #elseBlock>
  <ngb-alert type="secondary" [dismissible]="false" class="info"
    >Aucun score enregistrés...</ngb-alert
  >
</ng-template>
